# Compiled Java class files
*.class

# Package Files
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Log files
*.log

# ---------------------------------------------------
# IDE Specific Ignores
# ---------------------------------------------------

# Visual Studio Code
.vscode/

# Eclipse (Common in university environments)
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.classpath
.project
.loadpath
.recommenders

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/

# ---------------------------------------------------
# OS Specific Ignores
# ---------------------------------------------------

# Windows
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
*.stackdump
Desktop.ini
$RECYCLE.BIN/

# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
